<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=177.70.98.16;Initial Catalog=cainaprovasec;User ID=sa;Password=c3c1@2526"
      providerName="System.Data.SqlClient" />
    <add name="dbProd" connectionString="Data Source=177.70.98.16;Initial Catalog=cainaprova_1;User ID=cainaprova_1;Password=c3c1@2526"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>